.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
}

/* .heroImage {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    z-index: -1;
} */

.heroImage {
    width: 40%;
    object-fit: cover;
}



.heroBox {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 80px 0 120px;
}

.heroBoxInfo {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heroBoxTitle {
    font-size: 58px;
    line-height: 125%;
    margin: 0;
}

.heroBoxDescription {
    margin: 0;
    font-size: 18px;
    line-height: 140%;
    font-weight: 500;
    
}

.heroBoxButton {
    text-decoration: none;
    border-radius: 4px;
    max-width: 100px;
    text-align: center;
    padding: 8px 15px;
    background-color: #4c35e3;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.heroBoxButton:hover {
    background-color: #6600ff;
}

.questionsSectionWrapper {
    margin: 0 0 90px;
}

.questionsSectionNavbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.questionsNavbarTop {
    width: 850px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 20px;
}

.questionsTitle {
    font-size: 26px;
    font-weight: 600;
}

.addQuestionButton {
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 15px;
    background-color: #4c35e3;
    cursor: pointer;
    transition: 0.3s;
}

.addQuestionButton:hover {
    background-color: #6600ff;
}

.questionsNavbarBottom {
    width: 850px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 80px;
}

.questionsNumber {
    font-size: 20px;
    font-weight: 600;
}

.buttonsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.buttonsWrapper button {
    border: 1px solid #9b9bed;
    cursor: pointer;
    background-color: #fafafa;
    padding: 6px 12px;
    color: #7261df;
    font-weight: 600;
    border-radius: 4px;
    transition: 0.3s;
}

.buttonsWrapper button:hover {
    color: #4c35e3;
    border: 1px solid #4c35e3;
}

.buttonsWrapper button:focus {
    color: #4c35e3;
    border: 1px solid #4c35e3;
}

.questionsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

@media (max-width: 949px) {
    .questionsNavbarTop, .questionsNavbarBottom  {
        width: 100%;
    }
}

@media (max-width: 760px) {
    .heroBox {
        flex-direction: column;
    }

    .heroBoxInfo {
        max-width: 100%;
    }

    .heroImage {
        align-self: self-end;
        width: unset;
        max-width: 100%;
        max-height: 260px;
    }
}

@media (max-width: 510px) {
    .container {
        padding: 0 20px;
    }

    .heroBox {
        margin: 40px 0 70px;
    }

    .heroBoxTitle {
        font-size: 48px;
    }

    .questionsSectionWrapper {
        margin-bottom: 70px;
    }

    .questionsSectionNavbar {
        gap: 10px;
    }

    .questionsSection {
        margin-top: 25px;
    }
}