.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
}

/* .navbarWrapper {
    background-color: #6600FF;
} */

.navbar {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoWrapper, .itemLink {
    text-decoration: none;
    color: black;
}

.logoWrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logoImage {
    width: 45px;
}

.logoText {
    font-size: 20px;
    font-weight: 600;
}

.navbarList {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navbarListItem {
    list-style-type: none;
}

.itemLink {
    font-weight: 600;
}

.logInButton {
    color: #6600FF;
}

.signUpButton {
    background-color: #6600FF;
    color: white;
    padding: 8px 15px;
}