.questionModalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.questionModal {
    background-color: #fafafa;
    padding: 20px 30px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    width: 450px;
}

.modalTitle {
    margin: 0 0 10px;
    color: #4c35e3;
    font-size: 24px;
    font-weight: 600;
}

.modalDescription {
    font-weight: 500;
    line-height: 135%;
}

.closeButton {
    position: absolute;
    padding: 0;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.closeIcon {
    display: block;
    width: 20px;
    transition: 0.2s;
}

.closeIcon:hover {
   transform: scale(1.2);
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputWrapper input, .inputWrapper textarea {
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 5px;
    border-bottom: 1.2px solid #838383;
    resize: none;
    outline: none;
}

.inputWrapper textarea {
    height: 60px;
}

.addButton {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    max-width: 100px;
    align-self: center;
    padding: 8px 15px;
    text-decoration: none;
    background-color: #4c35e3;
    color: #fafafa;
    font-weight: 600;
    transition: 0.3s;
}

.addButton:hover {
    background-color: #6600ff;
}

.message {
    font-weight: 600;
    color: rgb(185, 28, 28);
    align-self: center;
}

@media (max-width: 510px) {
    .questionModal {
        width: 90%;
    }
}