.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
}

.formWrapper {
    height: calc(100vh - 214px);
    margin-top: 80px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logoImage {
    width: 70px;
}

.formTitle {
    margin: 0;
}

.nameInputWrapper {
    display: flex;
    gap: 20px;
}

.form .nameInputWrapper input {
    width: 190px;
}

.form input {
    width: 400px;
    padding: 4px 5px;
}

.formButton {
    cursor: pointer;
}

.formTextLink {
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: 0.2s;
}

.formTextLink:hover {
    color: #6600FF;
    /* text-decoration: underline; */
}


.successMessage {
    font-weight: 600;
    color: #038b03;
}

.errorMessage {
    font-weight: 600;
    color: rgb(185, 28, 28);
}