.question {
    display: block;
    text-decoration: none;
    color: #2f2c2c;
    width: 850px;
    background-color: #fafafa;
    padding: 20px 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 4px #e6e5e5;
    position: relative;
    transition: 0.3s;
}

.question:hover {
    box-shadow: 5px 5px 20px 4px #c3c3c3;
}

.deleteButton {
    display: none;
}

.question:hover .deleteButton {
    display: block;
    position: absolute;
    padding: 0;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.deleteIcon {
    display: block;
    width: 20px;
    transition: 0.2s;
}

.deleteIcon:hover {
   transform: scale(1.2);
}

.questionText {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    line-height: 130%;
    width: calc(100% - 15px);
}

.questionDescription {
    line-height: 140%;
    margin: 15px 0;
    font-weight: 500;
    color: #515151;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.questionInfo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.questionDate {
    color: #515151;
    font-size: 14px;
}

.answersNumberWrapper {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.answersImage {
    width: 20px;
    display: block;
}

.answersNumber {
    color: #4c35e3;
    font-weight: 500;
}

.deleteModalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
  
.deleteModal {
    background-color: #fafafa;
    padding: 20px 30px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    width: 450px;
}

.deleteModalTitle {
    margin: 0;
    color: #4c35e3;
    font-size: 24px;
    font-weight: 600;
}

.deleteModalDescription {
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 10px;
}

.closeButton {
    position: absolute;
    padding: 0;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.closeIcon {
    display: block;
    width: 20px;
    transition: 0.2s;
}

.closeIcon:hover {
   transform: scale(1.2);
}

.buttonsWrapper {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.buttonsWrapper button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    max-width: 100px;
    padding: 8px 15px;
    font-weight: 600;
    transition: 0.3s;
}

.modalCancelButton {
    background-color: transparent;
    color: #4c35e3;
}

.modalCancelButton:hover {
    background-color: #d5d2d969;
}

.modalDeleteButton {
    background-color: #4c35e3;
    color: #fafafa;
}

.modalDeleteButton:hover {
    background-color: #6600ff;
}

@media (max-width: 949px) {
    .question {
        width: 100%;
    }
}

@media (max-width: 760px) {
    .questionDescription {
        margin: 10px 0;
    }
}

@media (max-width: 510px) {
    .question {
        padding: 15px;
    }

    .questionText {
        font-size: 20px;
    }
}