.question {
    display: block;
    text-decoration: none;
    color: black;
    width: 70%;
    background-color: rgb(245, 243, 243);
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.deleteButton {
    position: absolute;
    top: 8px;
    right: 8px;
}

.questionText {
    margin: 0 0 10px;
    font-size: 22px;
}

.questionDescription {
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.questionInfo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}